@import (less) 'inc/vars.less'; //*Mogul Framework mk.2
@import (less) 'inc/reset.less'; // reset stuff
@import (less) 'inc/nav.less'; // nav stuff
@import (less) 'inc/typo.less'; // nav stuff
@import (less) 'inc/slider.less';
@import (less) 'inc/forms.less'; // nav stuff
@import (less) 'inc/grid.less';
@import (less) 'inc/buttons.less';

//@import (less) 'tabs.less'; // TO ADD
//@import (css) '../fonts.css'; // nav stuff
@import (css) 'https://fonts.googleapis.com/css?family=Roboto&display=swap';

body {
    font: @bodyFontSizeDesktop/1.2'Roboto', Helvetica, Helvetica Neue, Arial;
    @media @tablet {
        min-width: @minTabletWidth;
        font-size: @bodyFontSizeTablet;
    }
    @media @mobile {
        & {
            min-width: @minMobileWidth;
            font-size: @bodyFontSizeMobile;
        }
    }
}
/* ========================================================================== */
div {
    background-repeat: no-repeat;
    background: none;
}
.media > img {
    width: 100%;
}

//default links
a:not([class]) {
    text-decoration: none;
    color: @brandSecondary;
    &:hover {
        color: lighten(@mainColor, 10%);
    }
}

// global modifiers
.-bg-grey {
    background: #464646;
}
.-bg-blue {
    background: #00baff;
}
.-bg-orange {
    background: #ff5c00;
}
._dark * {
    color: #fff;
}
nav.desktop > ul > li {
    display: inline-block;
}
.search-form {
    display: none;
}
