@import (less) './css/inc/vars.less';


//layers parent class
.-intro-default{
    & > inner{ 
        .hgroup{
            h2{

            }

            p.subtitle{

            }
        }
    }

}
