@import (less) './css/inc/vars.less';
//layers parent class
.customers{

    & .grid__{
        justify-content: center;
        align-content: center;
    }

    & > .inner{

    }
    //repeating items
    .customer{
        width: auto;
        padding: 20px;
        text-align: center;
        a{display: inline-block;}
        img{max-height: 60px;}
    }
}
