@import (less) './css/inc/vars.less';
//layers parent class
.cards{

    & > .inner{

    }
    //repeating items
    .card{
        position:relative;
        .media{
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            position: relative;
        }
        .card-copy{
            position:absolute;
            bottom: 0;
            padding: 10px;
            color: #fff;
        }

        .media{
            &:before{
                content:'';
                position: absolute; opacity: 0; transition: opacity ease .2s;;
                top: 0; bottom: 0; left: 0; right: 0; background-color: rgba(0,0,0,.6);
            }
        }

        & a:hover

            {
            .media{
                &:before{
                    opacity: 1;
                }
            }

            .card-copy{
                color:cyan;
            }
            }
    }
}
