@import (less) './css/inc/vars.less';


//layers parent class
.-intro-home{
    //repeating items
   & .card{
        position:relative;
        .media{
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            position: relative;

            min-height:600px;
        }
        .card-copy{
            position:absolute;
            bottom: 0;
            padding: 10px;
        }
    }
}
