@import (less) './css/inc/vars.less';


//layers parent class
.cards{
    //repeating items
   & .card{
        position:relative;
        .media{
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            position: relative;
        }

        .card-copy{
            position:absolute;
            bottom: 0;
            padding: 10px;
        }
    }

}
