@import 'vars.less'; //buttons

a.button,
input[type="submit"],
button,
input[type="button"],
input[type="reset"] {
    display: block;
    display: inline-block;
    margin: 10px 10px 0 0;
    padding: 10px 20px;
    color: #fff;
    background: @mainColor;
    border-radius: @borderRradius;
    border: none;
    cursor: pointer;
    transition: background ease 0.3s, border-color ease 0.3s;
    text-decoration: none;
    border-style: solid;
    border-weight: 3px;

    &.-color-primary {
        //parent option dependency for button modificator
        background: @brandPrimary;
        border-color: @brandPrimary;
        &:hover {
            background: lighten(@brandPrimary, 10%);
            border-color: lighten(@brandPrimary, 10%);
        }
    }
    &.-color-secondary {
        //parent option dependency for modificato
        background: @brandSecondary;
        border-color: @brandSecondary;
        &:hover {
            background: lighten(@brandSecondary, 10%);
            border-color: lighten(@brandSecondary, 10%);
        }
    }

    &.-ghost{}
}


* > .button:only-child {
    margin: 10px 0;
}
