@import 'vars.less';
@fieldPadding: 6px 12px;
input {
    &[type="text"],
    &[type="password"],
    &[type="email"],
    &[type="number"],
    &[type="password"],
    &[type="search"],
    &[type="tel"],
    &[type="url"],
    &[type="date"],
    &[type="datetime"],
    &[type="month"],
    &[type="week"],
    &[type="time"],
    &[type="file"] {
        padding: @fieldPadding;
        width: 50%;
        &:active,
        &:hover {}
    }
    &[type="color"] {
        height: 30px;
        padding: 2px;
    }
}
select {
    padding: @fieldPadding;
    width: 50%;
}
textarea {
    padding: @fieldPadding;
    width: 100%;
}
div {
    //placeholder for wpcf7 wrap
    form {
        max-width: 400px;
        p {
            display: flex;
            padding: 10px 0;
            &.message {
                flex-direction: column;
            }
            label {
                padding: 6px 0;
                width: 50%;
            }
        }
        fieldset {
            margin: 20px 0;
            border: none;
            padding: 0;
            legend {
                font-size: 0.9em;
                margin-bottom: 10px;
            }
            label {
                padding-bottom: 1.1em;
            }
        }
    }
}
