section{
    transition: all ease 1s;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;

    .layer {
    margin: @sectionGutter;

        .-blank{
            //margin for layers with no bg
        }

        &[-bg]{
            //margin for layers with bg
        }

        }
}

div{
    box-sizing: border-box;
}

section.layer[class*=-bg] {
    padding: @sectionGutter;
    margin: 0;
}
section > .inner {
    max-width: @maxDefaultWidth;
    margin: 0 auto;
    padding: @innerPadding;
    @media @tablet {
        & {
            padding: @innerPadding \ 2;
        }
    }
    @media @mobile {
        & {
            padding: 0;
        }
        & > header {
            margin-left: -@colGutter;
            margin-right: -@colGutter;
        }
    }
}
.grid__ {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
//default
.grid__ > .col {
    width: 20%;
    //defaults for bg image
    &.media {
        background-size: cover;
        background-repeat: no-repeat;
        //aspect ratio for
        &:empty {
            //transparent svg with
            //content: url(test.svg);
        }
    }
    @media @tablet {
        & {
            width: 50% !important;
        }
        &:only-child {
            width: 100% !important;
        }
    }
    @media @mobile {
        & {
            width: 100% !important;
            order: unset;
            padding: (@colGutter/2) 0;
        }
        & ~ div[class*=media],
        &.media {
            order: -1;
        }
    }
}


/* one item */
.grid__ > .col:first-child:nth-last-child(1) {
    width: 100%;
}
/* two items */
.grid__ > .col:first-child:nth-last-child(2),
.grid__ > .col:first-child:nth-last-child(2) ~ .col {
    width: 50%;
}
/* three items */
.grid__ > .col:first-child:nth-last-child(3),
.grid__ > .col:first-child:nth-last-child(3) ~ .col {
    width: 33.3333%;
}
/* four items */
.grid__ > .col:first-child:nth-last-child(4),
.grid__ > .col:first-child:nth-last-child(4) ~ .col {
    width: 25%;
}
/* five items */
.grid__ > .col:first-child:nth-last-child(5),
.grid__ > .col:first-child:nth-last-child(5) ~ .col {
    width: 20%;
}
.grid__._col-1 > .col {
    width: 100% !important;
}
.grid__._col-2 > .col {
    width: 50% !important;
    @media @tablet {
        & {}
    }
}
.grid__._col-3 > .col {
    width: 33.3333% !important;
    @media @tablet {
        & {
            width: 50% !important;
        }
    }
}
.grid__._col-4 > .col {
    width: 25% !important;
    @media @tablet {
        & {
            width: 50% !important;
        }
    }
}
.col {
    padding: @colGutter;
}
.grid__ {
    margin: 0 -@colGutter;
}
.content > *:first-child {
    margin-top: 0;
}
.content > *:last-child {
    margin-bottom: 0;
}
//zeroed gutter for columns
.grid__.-zero-gutter {
    margin: 0;
    .col {
        padding: 0;
    }
}

//this mod ovverider columns size
.grid__._override-default
{
    & > .col{width: auto !important;}
    }
