@import 'vars.less';
.header-container {
    .logo {}
    header {
        .hamburger {
            display: none;
        }
        @media @menuBreakpoint {
            .hamburger {
                display: inline-block;
            }
        }
    }
    nav.desktop {
        .menu {
            li {}
            > li {
                position: relative;
                padding: 10px 20px;
            }
            > li > .submenu {
                display: none;
                position: absolute;
            }
            > li:hover {}
            > li:hover > .submenu {
                display: block;
                width: 240px;
                background: #fff;
                padding: 10px;
            }
            //link with dd
            > li.menu-item-has-children {}
            //dd arrow
            > li.menu-item-has-children:before {}
        }
    }
}
nav.desktop {
    display: inline-block;
    @media @menuBreakpoint {
        & {
            display: none;
        }
    }
}
nav.mobile {
    display: none;
    position: relative;
    -webkit-animation: slide-in-bck-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-bck-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    .close-button {
        position: absolute;
        top: 10px;
        right: 10px;
        background: #fff;
    }
    @media @menuBreakpoint {
        &.__open {
            position: fixed;
            z-index: 1000;
            display: block;
            top: 0;
            left: 0;
            right: 60px;
            bottom: 0;
            background: @secondaryColor;
            display: flex;
            align-items: center;
            justify-items: center;
            justify-content: center;
        }
    }
    .menu {
        li {}
        > li {
            position: relative;
            padding: 10px 20px;
            a {
                color: #fff;
                font-size: 2em;
            }
        }
        > li > .submenu {
            position: static;
            display: block;
            font-size: 0.9em;
        }
        > li:hover {}
        //link with dd
        > li.menu-item-has-children {}
        //dd arrow
        > li.menu-item-has-children:before {}
    }
}
//mobile nav animation example
@-webkit-keyframes slide-in-bck-center {
    0% {
        -webkit-transform: translateZ(600px);
        transform: translateZ(600px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}
@keyframes slide-in-bck-center {
    0% {
        -webkit-transform: translateZ(600px);
        transform: translateZ(600px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}
.hamburger {
    padding: 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    margin: 0;
    overflow: visible;
}
.hamburger:hover {
    opacity: 0.7;
}
.hamburger.is-active:hover {
    opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::after,
.hamburger.is-active .hamburger-inner::before {
    background-color: #000;
}
.hamburger-box {
    width: 30px;
    height: 24px;
    display: inline-block;
    position: relative;
}
.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
    width: 30px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}
.hamburger-inner::after,
.hamburger-inner::before {
    content: "";
    display: block;
}
.hamburger-inner::before {
    top: -10px;
}
.hamburger-inner::after {
    bottom: -10px;
}
.hamburger--slider .hamburger-inner {
    top: 2px;
}
.hamburger--slider .hamburger-inner::before {
    top: 10px;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.15s;
}
.hamburger--slider .hamburger-inner::after {
    top: 20px;
}
.hamburger--slider.is-active .hamburger-inner {
    transform: translate3d(0, 10px, 0) rotate(45deg);
}
.hamburger--slider.is-active .hamburger-inner::before {
    transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
    opacity: 0;
}
.hamburger--slider.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(-90deg);
}
