@import 'vars.less';
.product_ {
    .gallery {
        .gallery-slider {
            > li {
                display: inline-block;
                border: solid 1px #ccc;
                height: 70px;
                white-space: nowrap;
                text-align: center;
                margin: 1em 0;
            }
            img {
                max-width: 70px;
                vertical-align: middle;
                max-height: 70px;
            }
        }
    }
}
