@import 'vars.less';
/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
.single-column {

    > .inner{max-width: (@maxDefaultWidth - @condensedColDiff);
    }

    &._col-2 .content {
        column-count: 2;
        column-gap: @colGutter;
        @media @mobile {
            & {
                column-count: 1;
                column-gap: 0;
                margin-left: -@colGutter;
                margin-right:-@colGutter;
            }
        }
    }
}
