body{line-height:1.5em;}

h1 + p,
h2 + p,
h3 + p,
h4 + p,
h5 + p,
p + p {
    margin-top: 0;
}

h1{font-size:2.2em; margin: 0.7em 0;}
h2{font-size:1.7em; margin: 0.7em 0;}
h3{font-size:1.4em; margin: 0.7em 0;}
h4{font-size:1.2em; margin: 0.7em 0;}
h5{font-size:1.1em; margin: 0.7em 0;}
h6{font-size:1em; margin: 0.7em 0;}

hr{margin: 2em 0;}

table{
    border-collapse: collapse;
    width:100%;
        th{font-weight: bold; border-bottom: 2px solid #ccc; text-align:left; padding: 20px;}
    tbody{
        tr{}
        tr:nth-child(even){background:#ececec;}
        td{border-bottom: solid 1px #ccc; padding: 10px 20px;}
    }
}

.hgroup{
    h1{
        & + p{font-size: 1.2em;}
    }
    h2{
        & + p{font-size: 1.1em;}
    }
    h3{}
    h4{}
    h5{}
}
