/* Breakpoints */
@highdensity: ~"only screen and (-webkit-min-device-pixel-ratio: 1.5)", ~"only screen and (min--moz-device-pixel-ratio: 1.5)", ~"only screen and (-o-min-device-pixel-ratio: 3/2)", ~"only screen and (min-device-pixel-ratio: 1.5)";
@mobile: ~"screen and (max-width: 481px)"; //mobile viewport breakpoint with scaling down to below 300px
@tablet: ~"screen and (max-width: 949px)"; //tablet breakpoint
@desktop: ~"screen and (max-width: 1270px)"; //regular desktop
@desktop-xl: ~"screen and (min-width: 1271px)"; //HD ans laptops screens
@menuBreakpoint: ~"screen and (max-width: 900px)"; //making sure that menu doesn't break anything, planning to add script later
//slider global settings - changes slider appearance
@slick-arrow-color: white; 
@slick-dot-color: black;
@slick-dot-color-active: @slick-dot-color;
@slick-prev-character: "\e812";
@slick-next-character: "\e813";
@slick-dot-character: "•";
@slick-dot-size: 6px;
@slick-opacity-default: 0.75;
@slick-opacity-on-hover: 1;
@slick-opacity-not-active: 0.5;
@slick-color-not-active: #ccc; // SIZES
@maxDefaultWidth: 1280px;
@condensedColDiff: 400; //condensed col - used for narrow grid
@minTabletWidth: 420px; ////min body width for tablet viewport
@minMobileWidth: 420px; //min body width for mobile viewport
//Colors
@brandPrimary: #000; //primary brand color - for buttons etc
@brandSecondary: #006699; //secondary brand colors for color accent
@mainColor: #006699;
@secondaryColor: #006699;
@supportColor: #000;
@colorLight: @mainColor; //color modifier from layer options
@colorDark: @secondaryColor; //color modifier from layer options
@borderRradius: 3px; //global border radius
//Typography
// all text units are EM
// these variable allow to adjust responsive text sizes depending on viewport
@bodyFontSizeDesktop: 16px;
@bodyFontSizeTablet: 14px;
@bodyFontSizeMobile: 16px;
@innerPadding: 20px 5%; //paddings for grid inners
//gutter
@colGutter: 20px; //global gutter
@sectionGutter: 40px; //section to section gutter, logic is in grid.less
